**/*.svg
**/*.pdf
**/*.tex
**/*.run
**/*.dot
**/*.hepmc
**/*.out
**/*.log
**/*.err
**/build*
**/install*
**/configure*
**/.o
**/testexternals*
**/*m4*
**/config.*
**/depcomp
**/ltmain.sh
**/missing
**/.libs
**/*.job
**/*.root
